.swipeButtons{
    position:fixed;
    bottom:5vh;
    width:100%;
    display: flex;
    justify-content: space-evenly;
}


.swipeButtons .MuiIconButton-root{
    background-color: white;
    box-shadow: 0px 10px 53px 0px rgba(0,0,0,0.3) !important;

}

.swipeButton__repeat{
    color:#f5b748 !important;
    padding: 3vw !important;
     
}

.swipeButton__left{
    color:#ec5e6f !important;
    padding: 3vw !important;
}

.swipeButton__star{
    color:#62b4f9 !important;
    padding: 3vw !important;
}


.swipeButton__right{
    color:#76e2b3 !important;
    padding: 3vw !important;
}

.swipeButton__superlike{
    color:#915dd1 !important;
    padding: 3vw !important;
}